# Excluded because annoying and unecessary
binaries/system/
build/

# Build files
*.so
*.so.*
*.a

# Exclude test .cpp files (generated during the build)
test_*.cpp
source/ps/tests/stub_impl_hack.cpp

# Build files (tools)
*.pyc
*.pyo
__pycache__/

# Build files (libs)
*.o
*.lo
*.la
libraries/
libraries/osx/build-osx-libs.sh
libraries/osx/build-osx-libs.sh

build/workspaces/build-osx-bundle.sh
